body{
  width: 55%;
  margin: auto;
}

h1{
  font-size: 38px;
  margin-bottom: 0;
}

table{
  border-collapse: collapse;
}

th{
  width: 250px;
  background-color: #20a9e5;
  text-align: left;
  color: white;
}

tr:nth-child(even) {
  background-color: #b1e5f2;
}

.Grey{
  color: grey;
  font-size: 18px;
}

.Logo{
  width: 100%;
  height: 80px;
  background-color: #4ea0ff;
  background-image: url("../img/pattern.png");
  background-size: contain;
}

.Photo_Credits{
  font-size: 12px;
}

.Correllati{
  width:210px;
  height:160px;
  background-size: cover;
}

.Testo_Correllati
{
  color: white;
  padding: 5px;
}

#Img_Logo{
  width: 15%;
  margin-top: 30px;
}

#Img_Monitor{
    background-image: url(../img/monitor.jpg);
    margin-bottom: 10px;
}

#Img_Grafico{
    background-image: url(../img/graph.jpg);
}
