#Logo{
    width: 10%;
}

/* body{
  font-family: 'Roboto', sans-serif;

} */

.Grey{
  color: grey;
}

table{
  border-collapse: collapse;
}

th{
  background-color: #20a9e5;
  color: white;
}

tr:nth-child(even) {
  background-color: #b1e5f2;
}
